@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root{
    --primary-color: yellow;
    --secondary-color: black;
}

body{
    font-family: cursive;
    color: var(--secondary-color);
    margin: 0;
    padding: 0;
}

header{
    background-color: var(--primary-color) ;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}

.container-main{
    max-width: 500px;
    text-align: center;
    margin: auto; 
}

.input{
    margin: 10px 0;
    width: 400px;
    height: 100px;
    border-radius: 5px;
}
.btn-submit{
    display: block;
    background-color: var(--primary-color);
}
.output{
    margin: 10px 0;
    width: 400px;
    height: 100px;
    border-radius: 5px;
}

footer{
    background-color: var(--primary-color) ;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer h2{
    margin: 0;
}
footer p{
    margin: 0;
}