@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root{
    --primary-color: #fcd34d;
    --secondary-color: #111827;
    --font-color: #f8fafc;
}

body{
    font-family: cursive;
    color: var(--secondary-color);
    margin: 0;
    padding: 0;background-image: url(https://images.hdqwalls.com/wallpapers/minions-6.jpg);
    background-size: cover;
}

header{
    background-color: var(--primary-color) ;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--secondary-color);
}

.container-main{
    max-width: 400px;
    text-align: center;
    margin: auto; 
}

.container-main p{
    margin: 10px 0;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
}

.input{
    margin: 10px 0;
    width: 400px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
}
.btn-submit{
    background-color: var(--primary-color);
    padding: 10px 20px;
    font-family: inherit;
}
.btn-reset{
    background-color: var(--primary-color);
    padding: 10px 20px;
    font-family: inherit;
}
.output{
    margin: 10px 0;
    width: 400px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
}

footer{
    background-color: var(--primary-color) ;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 2px solid var(--secondary-color);
}
footer h2{
    margin: 0;
}
footer p{
    margin: 0;
}